<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Backoffice</title>
</head>

<body>
    <div class="container">
        <h1>Backoffice</h1>
        <br>
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Position</th>
                    <th scope="col">Team</th>
                </tr>
            </thead>
            <tbody>
            {{#athletes}}
                <tr class="align-middle">
                    <td>{{athlete_name}}</td>
                    <td>{{athlete_birthDate}}</td>
                    <td>{{athlete_height}}</td>
                    <td>{{athlete_weight}}</td>
                    <td>{{athlete_nationality}}</td>
                    <td>{{athlete_position}}</td>
                    <td>{{athlete_team_id}}</td>
                </tr>
            {{/athletes}}
            {{^athletes}}
            <tr><td colspan="6">No athletes found</td></tr>
            {{/athletes}}
            </tbody>
        </table>
    </div>
    
    <script src="/js/teams/fetch.js"> </script>
</body>
</html>